mixin btn()
  .page-btn&attributes(attributes)
    .btn-group
      button.btn default
      button.btn.btn-primary primary
      button.btn.btn-success success
      button.btn.btn-info info
      button.btn.btn-warning warning
      button.btn.btn-danger danger
      button.btn.btn-link link
    .btn-group
      button.btn 默认
      button.btn.btn-primary 主要
      button.btn.btn-success 成功
      button.btn.btn-info 信息
      button.btn.btn-warning 警告
      button.btn.btn-danger 危险
      button.btn.btn-link 链接
    .btn-group
      button.btn(radius="5px") 默认
      button.btn.btn-primary(radius="5px") 主要
      button.btn.btn-success(radius="5px") 成功
      button.btn.btn-info(radius="5px") 信息
      button.btn.btn-warning(radius="5px") 警告
      button.btn.btn-danger(radius="5px") 危险
    .btn-group
      button.btn(radius="50%") 默认
      button.btn.btn-primary(radius="50%") 主要
      button.btn.btn-success(radius="50%") 成功
      button.btn.btn-info(radius="50%") 信息
      button.btn.btn-warning(radius="50%") 警告
      button.btn.btn-danger(radius="50%") 危险
    .btn-group
      button.btn(size="large") 默认-large
      button.btn.btn-primary(size="small") 主要-small
      button.btn.btn-success(size="mini") 成功-mini
    .btn-group
      button.btn(disabled) 默认
      button.btn.btn-primary(disabled) 主要
      button.btn.btn-success(disabled) 成功
      button.btn.btn-info(disabled) 信息
      button.btn.btn-warning(disabled) 警告
      button.btn.btn-danger(disabled) 危险