mixin form()
  .page-form&attributes(attributes)
    div.p-10
      label input
      input.input(placeholder="Enter something...")
    div.p-10
      label input[disabled]
      input.input(placeholder="Enter something..." disabled)