mixin grid()
  .page-grid&attributes(attributes)
    .row
      .col(span="12")
        div COL-12
      .col(span="12")
        div COL-12
    .row(gutter="10")
      .col(span="8")
        div COL-8
      .col(span="8")
        div COL-8
      .col(span="8")
        div COL-8
    .row
      .col(span="6")
        div COL-6
      .col(span="6")
        div COL-6
      .col(span="6")
        div COL-6
      .col(span="6")
        div COL-6
    .row(gutter="10")
      .col(span="4")
        div COL-4
      .col(span="8")
        div COL-8
      .col(span="12")
        div COL-12
    .row
      .col(span="1")
        div COL-1
    .row
      .col(span="2")
        div COL-2
    .row
      .col(span="3")
        div COL-3
    .row
      .col(span="4")
        div COL-4
    .row
      .col(span="5")
        div COL-5
    .row
      .col(span="6")
        div COL-6
    .row
      .col(span="7")
        div COL-7
    .row
      .col(span="8")
        div COL-8
    .row
      .col(span="9")
        div COL-9
    .row
      .col(span="10")
        div COL-10
    .row
      .col(span="11")
        div COL-11
    .row
      .col(span="12")
        div COL-12
    .row
      .col(span="13")
        div COL-13
    .row
      .col(span="14")
        div COL-14
    .row
      .col(span="15")
        div COL-15
    .row
      .col(span="16")
        div COL-16
    .row
      .col(span="17")
        div COL-17
    .row(id="test")
      .col(span="18")
        div COL-18
    .row
      .col(span="19")
        div COL-19
    .row
      .col(span="20")
        div COL-20
    .row
      .col(span="21")
        div COL-21
    .row
      .col(span="22")
        div COL-22
    .row
      .col(span="23")
        div COL-23
    .row
      .col(span="24")
        div COL-24
