extends ./layout/header.pug
include ./layout
include ./grid
include ./button
include ./form
block content
  #App
    .layout.column
      header.layout-header demo-header
      .layout
        aside.layout-aside
          - var href = 'javascript:void(0)'
          nav.navigation
            a.btn.btn-link(href= href onclick="showPage('page-layout')") Layout-布局
            a.btn.btn-link(href= href onclick="showPage('page-grid')") Grid-栅格
            a.btn.btn-link(href= href onclick="showPage('page-btn')") Button-按钮
            a.btn.btn-link(href= href onclick="showPage('page-form')") Form
        main.layout-main
          +layout(class='show')
          +grid(class='hide')
          +btn(class='hide')
          +form(class='hide')
      footer.layout-footer footer
  //- +layout()